.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .footerContainer {
    gap: 10px;
    margin: 20px 0;
    padding: 20px 0;
    opacity: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms all;
    bottom: -100px;
    left: 40%;
    position: absolute;
    &:hover {
      opacity: 1;
    }
  }
}
